<p>
  Show:
  <lls-filter-link-container [filter]="enumVisibilityFilter.SHOW_ALL"
                             [content]="'All'">
  </lls-filter-link-container>
  ,&nbsp;
  <lls-filter-link-container [filter]="enumVisibilityFilter.SHOW_ACTIVE"
                             [content]="'Active'">
  </lls-filter-link-container>
  ,&nbsp;
  <lls-filter-link-container [filter]="enumVisibilityFilter.SHOW_COMPLETED"
                             [content]="'Completed'">
  </lls-filter-link-container>
</p>
